
@{
    ViewData["Title"] = "anotherData1";
}

<h1>anotherData1</h1>

<p>data from Viewbag : @ViewBag.res</p>

<p>data from view data : @ViewData["key1"]</p>

<p>data from tempdata : @TempData["key2"]</p>